.header {
  padding-top: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
