.form {
  width: 100%;
  padding: 60px 0;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
  }

  .block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
    outline: none;
    border: none;
    background-color: transparent;
    padding-bottom: 20px;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid var(--white-color);
  }

  input:-webkit-autofill {
    transition: all 5000s ease-in-out;
  }

  .input {
    width: 100%;
    font-family: "Raleway";
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: var(--white-color);
  }

  ::-webkit-input-placeholder {
    color: var(--white-color);
  }

  .textarea_block {
    position: relative;
  }

  .textarea {
    width: 100%;
    height: 130px;
    outline: none;
    border: none;
    background-color: transparent;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    resize: none;
    margin-bottom: 50px;
    overflow: hidden;
  }
  .error {
    position: absolute;
    color: red;
    top: -40px;
    left: 0;
    height: 40px;
  }
}
