.item {
  width: 850px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.reverse {
  flex-direction: row-reverse;
}
.text {
  max-width: 430px;
}

.subtitle {
  font-size: 22px;
  line-height: 110%;
  color: #fff;
  margin-top: 30px;
}

.descr {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.7);
  margin: 26px 0;
}
