.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 190px;
  margin-bottom: 5px;

  .blur {
    position: absolute;
    background: rgba(44, 64, 108, 0.54);
    border-radius: 50%;
    -webkit-filter: blur(38px);
    filter: blur(38px);
    height: 190px;
    left: 0;
    top: 0;
    width: 215px;
  }
}

.img {
  z-index: 5;

  img {
    max-width: 160px;
    max-height: 80px;
    transition: transform 0.8s ease-in;

    &:hover {
      transform: scale(1.3);
    }
  }
}
