.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 48, 66, 0.9);
  top: 0;
  right: 0;
  z-index: 899;
  transform: translateY(-100%);
  transition: all 1.3s cubic-bezier(0.16, 1, 0.3, 1);
  overflow-x: hidden;
  &.active {
    transform: translateY(0%);
    z-index: 909;
  }
}

.nav {
  .menu {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .menu__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 14px;
  }

  &__link span {
    color: var(--white-color);
    font-size: 30px;
    padding: 5px 20px;
    font-weight: 700;
    transition: 0.5s;
    max-width: 300px;
    display: block;
  }

  .menu:hover .nav__link span {
    color: var(--white-color);
  }

  .menu .nav__link:hover span {
    color: #000;
    background-color: var(--white-color);
  }

  .menu .nav__link span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
  }

  .menu .nav__link span:hover::before {
    position: fixed;
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 20px;
    width: 100vw;
    height: 100vh;
  }

  .menu .nav__link:nth-child(1) span:before {
    background-color: rgba(96, 113, 243, 0.5);
  }

  .menu .nav__link:nth-child(2) span:before {
    background-color: rgba(96, 243, 187, 0.5);
  }

  .menu .nav__link:nth-child(3) span:before {
    background-color: rgba(160, 96, 243, 0.5);
  }

  .menu .nav__link:nth-child(4) span:before {
    background-color: rgba(243, 125, 96, 0.5);
  }

  .menu .nav__link:nth-child(5) span:before {
    background-color: rgba(243, 96, 96, 0.5);
  }
}
.burger {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 30px;
  z-index: 999;

  span {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--white-color);
    transition: all 0.3s ease;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  .top.spin {
    transform: rotate(-45deg);
  }

  .center.spin {
    transform: rotate(45deg);
    top: 0px;
  }

  .bottom.spin {
    transform: rotate(65deg);
    opacity: 0;
  }
}
