@import "../styles/mixin.scss";
.about {
  margin-top: 60px;

  h2 {
    width: 400px;
  }

  &__wrapper {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  &__cases {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 80px 0;
  }
}
