@import "../styles/mixin.scss";
.bg {
  position: relative;
  background: url("../img/croc.png") center center no-repeat;
  min-height: 900px;
  z-index: 10;

  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    left: 620px;
    top: 90px;
    background: #3866c3;
    filter: blur(120px);
  }

  &::after {
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    left: 240px;
    top: 200px;
    background: #802b6a;
    filter: blur(120px);
  }
}

.main {
  padding-top: 200px;
  display: flex;
  align-items: center;

  &__wrapper {
    max-width: 600px;
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.7);
    margin: 30px 0;
  }
}

.supports {
  padding-top: 80px;

  &__wrapper {
    display: flex;
    position: relative;
  }

  h2 {
    width: 290px;
    margin-right: 70px;
    max-height: 80px;
  }

  .title_fz24 {
    width: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    background: linear-gradient(278.08deg, #802b6a 14.98%, #5e84d2 82.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__column {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    max-width: 800px;
    height: 450px;
  }
}

.team {
  padding-top: 140px;

  &__wrapper {
    margin-top: 80px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.social {
  padding-top: 80px;

  &__wrapper {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}

.contact {
  padding-top: 80px;

  &__wrapper {
    margin-top: 80px;
    display: flex;
  }
}
